<a href="https://colab.research.google.com/github/shirinrafia/https-github.com-RishubHighIQ-InstaBase_python_trainer/blob/main/Interview_test_shirin_20_1_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import re

# Key: Zip Code
# Value: Income Tax %
INCOME_TAX_DICT = {
  '46410' : .25,
  '07042' : .3,
  '29483' : .4,
  '34639' : .2,
  '99654' : .27,
  '21043' : .16
}

s1 = '''
Employee Group: In office
EmployeeID        Gross_Salary             Net_Pay        Income_Tax      Office_Zip_Code      Occupation  \n
84061099          136020                   102015          34005          46410                Data Scientist\n
27318141          148245                   103771.5       44673.50       07042               Software Engineer\n
33947938          102731                   61638.6          41092.4        29483                Recruiter\n
 
Employee Group: Remote
EmployeeID        Gross_Salary             Net_Pay        Income_Tax      Office_Zip_Code      Occupation  \n
10447324          58303                    46642.4        11660.6         34639            Admin Assistant\n
21360858          64829                    47325.17        17503.83       99654               Accountant\n
'''

s2 = '''
Employee Group: In office
EmployeeID        Gross_Salary             Net_Pay        Income_Tax      Office_Zip_Code      Occupation  \n
00000001          104723                   102015.00      39,091          46410                Data Scientist\n
00000002          148245                   124,525.8      23719.2         21043-VA             Software Engineer\n
 
Employee Group: Remote
EmployeeID        Gross_Salary             Net_Pay        Income_Tax      Office_Zip_Code      Occupation  \n
00000003          102731                   $74993.63      27737.77        99654                Recruiter\n
00000004          58303                    40812.1        17490.9          07042-CA            Admin Assistant\n
00000005          64829                    $3,8897.4      25931.6         MD-29483             Accountant\n
'''

s3 = '''
Employee Group: In office
EmployeeID        Gross_Salary             Net_Pay        Income_Tax      Office_Zip_Code      Occupation  \n
00000011          104723                   102015.0o         $39,991           4GE1o               Data Scientist\n
00000022          148245                   12E,525.8         23,719.2          21o43-VA             Software Engineer\n

Employee Group: Remote
EmployeeID        Gross_Salary             Net_Pay        Income_Tax      Office_Zip_Code      Occupation  \n
00000033          102731                   $74993.G3         27,737.77         99g54                Recruiter\n
00000044          58303                    4O812.1          17e90.9           O7O42-CA             Admin Assistant\n
00000055          64829                    $3,8897.4          $25931.G         MD-29E83             Accountant\n
'''

# Q1: Create a list of dictionaries for each string (s1, s2 and s3) containing one list entry for each row and a key value pair format for each column
# Q2: Validate the net pay value with fixing the most common ocr Issues

In [12]:
s1_ = s1.split('\n')
s2_ = s2.split('\n')
s3_ = s3.split('\n')
s1_
s2_
s3_

['',
 'Employee Group: In office',
 'EmployeeID        Gross_Salary             Net_Pay        Income_Tax      Office_Zip_Code      Occupation  ',
 '',
 '00000011          104723                   102015.0o         $39,991           4GE1o               Data Scientist',
 '',
 '00000022          148245                   12E,525.8         23,719.2          21o43-VA             Software Engineer',
 '',
 '',
 'Employee Group: Remote',
 'EmployeeID        Gross_Salary             Net_Pay        Income_Tax      Office_Zip_Code      Occupation  ',
 '',
 '00000033          102731                   $74993.G3         27,737.77         99g54                Recruiter',
 '',
 '00000044          58303                    4O812.1          17e90.9           O7O42-CA             Admin Assistant',
 '',
 '00000055          64829                    $3,8897.4          $25931.G         MD-29E83             Accountant',
 '',
 '']

In [13]:
def preprocessor(s1_):
  tmp_s1 = []
  for i in s1_:
    i = i.rstrip(' ')
    i = i.lstrip(' ')
    
    if(i=='') or ('Employee Group: ' in i):
      pass
    else:
      tmp_s1.append(i)

  for i in range(len(tmp_s1)):
    tmp_s1[i] = tmp_s1[i].split('  ')
    while '' in tmp_s1[i]:
      tmp_s1[i].remove('')

    for j in range(len(tmp_s1[i])):
        tmp_s1[i][j] = tmp_s1[i][j].rstrip(' ')
        tmp_s1[i][j] = tmp_s1[i][j].lstrip(' ')

  cols = tmp_s1[0]
  while cols in tmp_s1:
    tmp_s1.remove(cols)

  res = []
  for i in range(len(tmp_s1)):
    tmp_dict = {}
    for j in range(len(cols)):
      tmp_dict[cols[j]] = tmp_s1[i][j]
    res.append(tmp_dict)

  print(res)

In [14]:
preprocessor(s1_)

[{'EmployeeID': '84061099', 'Gross_Salary': '136020', 'Net_Pay': '102015', 'Income_Tax': '34005', 'Office_Zip_Code': '46410', 'Occupation': 'Data Scientist'}, {'EmployeeID': '27318141', 'Gross_Salary': '148245', 'Net_Pay': '103771.5', 'Income_Tax': '44673.50', 'Office_Zip_Code': '07042', 'Occupation': 'Software Engineer'}, {'EmployeeID': '33947938', 'Gross_Salary': '102731', 'Net_Pay': '61638.6', 'Income_Tax': '41092.4', 'Office_Zip_Code': '29483', 'Occupation': 'Recruiter'}, {'EmployeeID': '10447324', 'Gross_Salary': '58303', 'Net_Pay': '46642.4', 'Income_Tax': '11660.6', 'Office_Zip_Code': '34639', 'Occupation': 'Admin Assistant'}, {'EmployeeID': '21360858', 'Gross_Salary': '64829', 'Net_Pay': '47325.17', 'Income_Tax': '17503.83', 'Office_Zip_Code': '99654', 'Occupation': 'Accountant'}]

In [20]:
def parse_table(cols,tmp_):
  res = []
  for i in range(len(tmp_)):
    tmp_dict = {}
    for j in range(len(cols)):
      tmp_dict[cols[j]] = tmp_[i][j]
    res.append(tmp_dict)
    return res

In [16]:
cols,tmp_s1 = preprocessor(s1_)

In [17]:
preprocessor(s2_)

(['EmployeeID',
  'Gross_Salary',
  'Net_Pay',
  'Income_Tax',
  'Office_Zip_Code',
  'Occupation'],
 [['00000001', '104723', '102015.00', '39,091', '46410', 'Data', 'Scientist'],
  ['00000002',
   '148245',
   '124,525.8',
   '23719.2',
   '21043-VA',
   'Software',
   'Engineer'],
  ['EmployeeID',
   'Gross_Salary',
   'Net_Pay',
   'Income_Tax',
   'Office_Zip_Code',
   'Occupation'],
  ['00000003', '102731', '$74993.63', '27737.77', '99654', 'Recruiter'],
  ['00000004',
   '58303',
   '40812.1',
   '17490.9',
   '07042-CA',
   'Admin',
   'Assistant'],
  ['00000005', '64829', '$3,8897.4', '25931.6', 'MD-29483', 'Accountant']])

In [18]:
tmp_s1

[['84061099', '136020', '102015', '34005', '46410', 'Data', 'Scientist'],
 ['27318141',
  '148245',
  '103771.5',
  '44673.50',
  '07042',
  'Software',
  'Engineer'],
 ['33947938', '102731', '61638.6', '41092.4', '29483', 'Recruiter'],
 ['EmployeeID',
  'Gross_Salary',
  'Net_Pay',
  'Income_Tax',
  'Office_Zip_Code',
  'Occupation'],
 ['10447324', '58303', '46642.4', '11660.6', '34639', 'Admin', 'Assistant'],
 ['21360858', '64829', '47325.17', '17503.83', '99654', 'Accountant']]

In [19]:
cols

['EmployeeID',
 'Gross_Salary',
 'Net_Pay',
 'Income_Tax',
 'Office_Zip_Code',
 'Occupation']